body{
   /* margen predeterminado*/
    margin: 0;
    /* margen para adentro*/
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
/*******************************************/
/***********************************/
/**********************/

header{
    width: 100%;
    height: 55px;
}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    list-style: none;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

nav .nav-right-section a{
    color: rgb(21, 21, 21);
    text-decoration: none;
    margin-right: 25px;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

nav .nav-right-section img{
    /* margin left es margen a la izquierda*/
    margin-left: 20px;
    /*Redondear*/
    border-radius: 100px;
    width: 50%;
    height: 35px;
}

/*******************************/
/**************MAIN***************/

main{
    text-align: center;
    margin-top: 160px;
}
/* SECCION LOGO*/
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* LOGO  GOOOGLE*/
main .main-logo img{
    height: 100px;
}
/* SECCION INPUT*/
main .main-input{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* cajita gris redondeada buscador */
main .main-input-container{
    border: 1px solid #dfe1e5;
    border-radius: 30px;
    width: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    height: 40px;
    width: 500px;
    /* quitar borde negro*/
    border: none;
    /* outline es para quitar borde azul al hacer clik*/
    outline: none;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-position: center;
    width: 15px;
    height: 15px;
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 6%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 17px;
    height: 17px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 6%;
}

main .main-buttons{
    width: 550px;
    margin: 0 auto;
}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    border: 0;
    height: 40px;
    background-color: #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0 15px;
}

main .main-input-container:hover{
    box-shadow: 0 0 5px #20212447;
}

main .main-buttons button:hover{
    color:#202124;
    border:1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

footer{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: #f6f6f6;
    border-top: 1px solid #c1c1c1;
}

footer ul{
    display: flex;
    list-style: none;
    margin: 12px;
    padding-left: 0px;
}

footer .footer-left{
    justify-self: left;
    margin-left: 36px;
}

footer .footer-right{
    justify-self: right;
    margin-right: 36px;
}

footer ul li a{
    margin: 12px;
    color: #7f7f7f;
}







